body {
  background-image: url("img/background1.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
canvas {
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    width: 100%;
}


@import url("../libs/bootstrap/css/font-awesome.min.css");

* {
  border-radius:0 !important;
}

body {
    padding:30px;
}
.btn {
    margin-right: 10px;
}
.gifAnimation {
  margin-left: 31px;
  margin-bottom: 11px;
}
.timer {
  margin-right: 4px;
}
